.cell {
    display: inline-block;       
    border: 1px solid gray;
    width: 15px;
    height: 15px;
    margin-left: -1px;
    margin-bottom: -1px;

    &--off {
        background-color: c('black');
    }

    &--on {
        background-color: c('white');
    }

    &:hover { 
        background: rgba(c('gray'), 0.5);
      }
}