@import './../../shared_styles/shared';
@import '../Cell/Cell.scss';
@import '../Button/Button.scss';
@import '../Grid/Grid.scss';

html {
    @include interpolate(font-size, $mobile, $desktop-large, 12px, 24px);
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: c('white');
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    background: c('black');
}

label {
    font-size: 12px;
}

input[type=range], label {
    display: block;
}

.menu {
    border: 2px solid c('gray');
    width: 700px;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;

    & > * {
        margin: .5rem;
    }
}

.container {
    margin: 0 auto;
    max-width: 700px;
  }